:root {
  font-size: 62.5%;
  --site-color-01: #291E0A;
  --site-color-02: #EFD1A9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2rem;
}

body {
  background-color: #728B33;
  background-image: url('img/grass.png');
  background-size: cover;
  cursor: url("img/aoe_cursor_arrow.png"), auto;
}

.main-container {
  font-family: 'Rosarivo', serif;
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  align-items: center;
  background-color: var(--site-color-02);
  background-image: url("img/scroll.png");
  background-size: 100% 100%;
  color: var(--site-color-01);
  display: flex;
  font-weight: bold;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  margin: 20px 0px;
}

.health-bars {
  color: var(--site-color-02);
  display: flex;
  font-size: 2.4rem;
  font-weight: bold;
  height: 70px;
  justify-content: space-between;
  text-shadow: 1px 1px black;
}

.computer-health {
  align-items: end;
  display: flex;
  flex-direction: column;
}

.hearts {
  display: flex;
  gap: 10px;
}

.hearts > img {
  filter: drop-shadow(1px 1px 1px black);
}

.game-screen {
  display: flex;
  height: 500px;
}

.selection {
  align-items: center;
  display: flex;
  justify-content: center;
}

.player-selection,
.computer-selection {
  width: 30%;
}

.player-selection > img {
  transform: rotateY(180deg);
}

.game-text {
  align-items: center;
  color: var(--site-color-02);
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px black;
  width: 40%;
}

.weapons-container {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.fighter-button {
  align-items: center;
  background-color: var(--site-color-02);
  background-image: url("img/scroll_square.png");
  background-size: cover;
  box-shadow: 1px 1px 15px 1px black;
  display: flex;
  height: 150px;
  justify-content: center;
  transition: ease-in-out 75ms;
  width: 150px;
}

.fighter-button>img {
  height: 90%;
  transform: rotateY(180deg);
}

.fighter-button:hover {
  box-shadow: 1px 1px 20px 2px gold;
  cursor: url("img/aoe_cursor_hand.png"), pointer;
  scale: 1.05;
}

.footer {
  margin-top: 50px;
  text-align: center;
}