/* GENERAL */
:root {
  font-size: 62.5%;
  --aoe-beige: #EFD1A9;
  --aoe-brown: #291E0A;
  --aoe-cursor-default: url("img/aoe_cursor_arrow.png"), auto;
  --aoe-cursor-hand: url("img/aoe_cursor_hand.png"), pointer;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
}

html {
  cursor: var(--aoe-cursor-default)
}

/* TEXT */
h1,
.txt1 {
  font-size: 3.2rem;
  font-weight: bold;
}

h2,
.txt2 {
  font-size: 2rem;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

.text-shadow {
  text-shadow: 2px 2px 4px black;
}

/* THEME */
.aoe-scroll {
  background-color: var(--aoe-beige);
  background-image: url("img/scroll.png");
  background-size: 100% 100%;
  color: var(--aoe-brown);
}

/* BODY/MAIN */
body {
  background-color: #728B33;
  background-image: url('img/grass.png');
  background-size: cover;
  font-family: 'Rosarivo', serif;
}

.main-container {
  margin: 0 auto;
  max-width: 1200px;
}


/* HEADER */
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  margin: 20px 0px;
}

/* HEALTH BARS */
.health-bars {
  color: var(--aoe-beige);
  display: flex;
  font-size: 2.4rem;
  font-weight: bold;
  height: 70px;
  justify-content: space-between;
  visibility: hidden;
}

.computer-health {
  align-items: end;
  display: flex;
  flex-direction: column;
}

.hearts {
  display: flex;
  gap: 10px;
}

.hearts>img {
  filter: drop-shadow(1px 1px 3px black);
}

/* GAME SCREEN */
.game-screen {
  display: flex;
  height: 500px;
}

.selection {
  align-items: center;
  display: flex;
  justify-content: center;
}

.player-selection,
.computer-selection {
  width: 30%;
}

@keyframes fade-slide-from-left {
  from {
    left: -20px;
    opacity: 0;
  }

  to {
    left: 0px;
    opacity: 1;
  }
}

.player-selection>img {
  animation-name: fade-slide-from-left;
  animation-duration: 1s;
  transform: rotateY(180deg);
  position: relative;

}

@keyframes fade-slide-from-right {
  from {
    right: -20px;
    opacity: 0;
  }

  to {
    right: 0px;
    opacity: 1;
  }
}

.computer-selection>img {
  animation-name: fade-slide-from-right;
  animation-duration: 1s;
  position: relative;
}

.center-textarea {
  align-items: center;
  color: var(--aoe-beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40%;
}

.message {
  flex-direction: column;
}

.how-to-play {
  align-items: center;
  background-color: var(--aoe-brown);
  border: 2px solid var(--aoe-beige);
  border-radius: 20px;
  box-shadow: 1px 1px 10px 3px rgb(0, 0, 0, 0.7);
  display: none;
  flex-direction: column;
  font-size: 2rem;
  height: 100%;
  justify-content: center;
  margin-bottom: 30px;
  padding: 50px;
  width: 100%;

}


/* BUTTONS */
.button {
  align-items: center;
  border: none;
  box-shadow: 1px 1px 10px 1px rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  transition: ease-in-out 75ms;
}

.button:hover {
  box-shadow: 1px 1px 20px 2px gold;
  cursor: var(--aoe-cursor-hand);
}

.menu-button {
  font-size: 2.6rem;
  height: 50px;
  margin-top: 20px;
  padding: 5px 30px;
  width: 215px;
}


/* FIGHTER CONTAINER */
.fighters-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  visibility: hidden;
}

.fighter-button {
  background-color: var(--aoe-beige);
  background-image: url("img/scroll_square.png");
  background-size: cover;
  height: 150px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  width: 150px;
}

.fighter-button:hover {
  scale: 1.05;
  top: -10px;
}

.fighter-button>img {
  height: 90%;
  transform: rotateY(180deg);
}