* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.player-choices {
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.playerSelectionBtn {
  height: 100px;
  width: 100px;
  background: none;
  border: 3px solid white;
  color: white;
  border-radius: 20px;
}